@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins";
}
.navContainerOne{
  background: linear-gradient(
    180deg,
    rgb(10, 10, 10, 5) 108%,
    rgb(240, 90, 90, 0.8) 100%
  ),
  url("./Assets/Roleximage/ground.png");
}
.navItems {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 33px;
}                 
.App {
  background: linear-gradient(
      180deg,
      rgb(10, 10, 10, 5) 8%,
      rgb(240, 90, 90, 0.8) 100%
    ),
    url("./Assets/Roleximage/ground.png");
}

.threeMainBanner {
  background: #151515;
  min-height: 850px;
  display: flex;
  align-items: center;
}
.fourMainBanner {
  background-image: url("./Assets/Roleximage/basketBallGround.png");
}
.SixMainBanner {
  background-image: url("./Assets/Roleximage/blackCard.png");
  background-repeat: no-repeat;
}
.SevenMainBanner{
  background-image: url("./Assets/Roleximage/seventhBannerScreen.png");
  background-repeat: no-repeat;

}
